* {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    /* outline: 1px solid red; */
    background-color: rgba(31, 30, 30, 0.418);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
}

.navbar img {
    height: 70px;
    width: 70px;
    /* filter: invert(100%); */
    display: flex;
    justify-content: flex-start;
}
.navItem {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-right: 10px;
}
.navItem a {
    text-decoration: none;
    color: white;
}

.navItem a:hover{
    text-decoration: underline;
    color: orange;
}
.mainContainer {
    /* background-image: url('../assets/images/spaghetti-g2e18d334e_1920.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; */
    
    /* background-color: rgba(0, 0, 0, 0.911); */
    height: 100%;
    background-color: rgba(31, 30, 30, 0.418);
}

.header {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headTitle {
    margin: 65px auto;
}
.headTitle h1 {
    font-size: 70px;
    font-family: 'Sedgwick Ave', cursive;
    /* margin: 50px; */
}
.headDesc {
    margin: 10px auto;
}
.headDesc h2 {
    font-family: 'Sedgwick Ave', cursive;
}
.header::before{
    content: "";
    background-image: url('../assets/images/spaghetti-g2e18d334e_1920.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
    z-index: -1;
}
.btnPrimary {
    margin: 10px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    font-weight: bolder;
    /* background-color: rgba(0, 0, 0, 0.13); */
    background: orange;
    color: white;
    border: 2px solid orange;
    border-radius: 25px;
    
    transition: width,font-size 1s ease-in-out;
}
.btnPrimary:hover {
    /* color: #000; */
    font-size: 17px;
    width: 160px;
}

/* Utilities */
.text-center {
    text-align: center;
}
.text-content {
    text-align: justify;
}
/* Service Section */
.services-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 10px;
    padding: 20px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.service-box-container {
    /* outline: 2px solid red; */
    display: flex;

}

.service-box {
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    /* border: 2px solid orange; */
    /* outline: 2px solid black; */
    transition: box-shadow 1s ease-in-out;
}
.service-box:hover {
    
    /* border: 2px solid orange; */
    box-shadow: 10px 10px 10px rgb(255, 215, 140);
}
.service-box img {
    /* outline: 1px solid red; */
    height: 100px;
    display: block;
    margin: 0px auto;
}